 @media (pointer: coarse) and (hover: none) {
            header {
                background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
            }
        }

        @media only screen and (min-width: 768px) {
  
  .cd-horizontal-timeline .events-content em {
    font-size: 1rem;
  }  
}
/* Responsive hide pagination on small screens */
@media (max-width: 767px) {
  .swiper-pagination {
    display: none;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .local-heading {
    padding: 0 50px;
  }
  
  .swiper-slide {
    height: 400px;
  }
  
  .overlay-text h3 {
    font-size: 20px;
  }
  
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 5px !important;
  }
  
  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .local-heading {
    padding: 0 161px;
  }
  
  .swiper-slide {
    height: 536px; /* Desktop ke liye original height */
  }
  
  .overlay-text {
    width: 100%;
    padding: 0;
  }
  
  .overlay-text h3 {
    font-size: 24px; /* Desktop ke liye bada font */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .local-heading {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 767px) {

  .cd-horizontal-timeline.loaded{ margin: 0;}  
  .cd-horizontal-timeline .timeline{ width: 100%;}
  .cd-horizontal-timeline ol, .cd-horizontal-timeline ul{padding: 0;margin: 0;}
  .cd-horizontal-timeline .events-content h4{ font-size: 16px;}
  .cd-horizontal-timeline .events-content{ margin: 0;}
  
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.timeline:before{
  content: " ";
    display:none;
    bottom: 0;
    left: 0%;
    width: 0px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}
