* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #F5F3EF;
  --secondary-bg: black;
  --primary: #0A2647;
  --secondary: #144272;
}

body,
html {
  background-color: var(--main-bg);
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.navbar {
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  /* display: flex; */
  height: 60px;

}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

ul li i {
  margin-right: 10px;
  font-size: 30px;
}

ul li a {
  color: black;
  text-decoration: none;
  font-size: 26px;
  font-weight: 400;
}

.menu {
  padding: 20px 20px;
  background-color: white;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
  height: 85vh;
  padding-left: 0;
  display: block;
}

.box {
  display: flex;
  align-items: end;
  justify-content: start;
  height: 100%;
}

.inner {
  width: 825px;
  color: white;
  /* border: 1px solid white; */
}

.inner>p {
  margin-top: 15px;
}

.inner>p>i {
  margin-right: 10px;
  font-size: 20px;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.sec-container {
  margin-top: 70px;
  width: 100%;
  /* border: 1px solid ; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.left {
  width: 524px;
  position: relative;
  /* border: 1px solid; */
}

.left img {
  opacity: 0.1;
  width: 514px;
}

.left h2 {
  position: absolute;
  top: 0;
  font-size: 42px;
  font-weight: 400;
  margin-top: 110px;

}

.explore-container {
  border: none !important;
  width: 100%;
}

.explore-card {
  background-color: #F5F3EF;
  font-size: 16px;
}

.explore-btn {
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid black;
  padding: 15px 35px;
  color: black;
  border-radius: 0;
  font-size: 20px;
}

.container-fluid {
  margin-top: 70px;
  margin-bottom: 70px;
}

h1 {
  margin-bottom: 50px;
}

.card {
  width: 100%;
  max-width: 483px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: 0;
}

.imgs {
  width: 100%;
  height: 350px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: white;
  width: 411px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 25px 0;
}

.up {
  display: flex;
  gap: 30px;
}

.bottom-title {
  display: flex;
  justify-content: center;
  align-items: end;
}

h5 {
  text-align: center;
  font-size: 22px;
}

.card-hover {
  transition: transform 0.3s ease;
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* pehle bottom me */
  text-align: center;
  transition: all 0.4s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Hover hone pe */
.card-hover:hover .card-img-overlay {
  align-items: center; /* center me aayega text */
  background-color: rgba(0, 0, 0, 0.6); /* overlay dark hoga */
  transition: transform 0.3s ease;
}

.disc-title {
  padding: 0 150px;
}



.cd-horizontal-timeline ol,
.cd-horizontal-timeline ul {
  list-style: none;
}

.cd-timeline-navigation a:hover,
.cd-timeline-navigation a:focus {
  border-color: #313740;

}

.cd-horizontal-timeline a,
.cd-horizontal-timeline a:hover,
.cd-horizontal-timeline a:focus {
  color: #313740;
}

.cd-horizontal-timeline blockquote,
.cd-horizontal-timeline q {
  quotes: none;
}

.cd-horizontal-timeline blockquote:before,
.cd-horizontal-timeline blockquote:after,
.cd-horizontal-timeline q:before,
.cd-horizontal-timeline q:after {
  content: '';
  content: none;
}

.cd-horizontal-timeline table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {

  content: 'mobile';
  display: none;
}

.cd-horizontal-timeline.loaded {

  opacity: 1;
}

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 105%;

  margin: 0;
}

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin-left: 0;
  width: 100%;
  overflow: hidden;

}

.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {

  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}

.cd-horizontal-timeline .events-wrapper::before {
  left: 0;

}

.cd-horizontal-timeline .events-wrapper::after {
  right: 0;

}

.cd-horizontal-timeline .events {

  position: absolute;
  z-index: 1;
  left: 0;
  top: 50px;
  height: 2px;

  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.cd-horizontal-timeline .filling-line {

  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #313740;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;


  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #313740;
  border-color: #313740;
}

.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}

.cd-horizontal-timeline .events a.selected::after {
  background-color: #313740;
  border-color: #313740;
}

.cd-horizontal-timeline .events a.older-event::after {
  border-color: #313740;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline::before {
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.cd-timeline-navigation a::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next {
  right: 0;
}

.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}

.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li>* {
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-content h4 {
  font-weight: 700;
  margin-bottom: 0px;
  line-height: 20px;
  margin-bottom: 15px;
}

.cd-horizontal-timeline .events-content h4 small {
  font-weight: 400;
  line-height: normal;
  font-size: 15px;
}

.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}

.cd-horizontal-timeline .events-content p {
  font-size: 16px;
  margin-top: 15px;

}











/* ==================================== */
/* *****  ADOBE GARAMOND FONTS  ******* */
/* ==================================== */
@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../fonts/adobe-garamond/AGaramondPro-Bold.woff2') format('woff2'),
    url('../fonts/adobe-garamond/AGaramondPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../fonts/adobe-garamond/AGaramondPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/adobe-garamond/AGaramondPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../fonts/adobe-garamond/AGaramondPro-Italic.woff2') format('woff2'),
    url('../fonts/adobe-garamond/AGaramondPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../fonts/adobe-garamond/AGaramondPro-Regular.woff2') format('woff2'),
    url('../fonts/adobe-garamond/AGaramondPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ==================================== */
/* ******  CLASH DISPLAY FONTS  ******* */
/* ==================================== */
@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/clash-display/ClashDisplay-Bold.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/clash-display/ClashDisplay-Light.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/clash-display/ClashDisplay-Extralight.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplay-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display Variable';
  src: url('../fonts/clash-display/ClashDisplayVariable-Bold.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplayVariable-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/clash-display/ClashDisplay-Regular.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/clash-display/ClashDisplay-Medium.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/clash-display/ClashDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display Variable';
  src: url('../fonts/clash-display/ClashDisplayVariable-Bold.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplayVariable-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display Variable';
  src: url('../fonts/clash-display/ClashDisplayVariable-Bold.woff2') format('woff2'),
    url('../fonts/clash-display/ClashDisplayVariable-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
